* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #000;
  cursor: default;
  text-decoration: none;
}

ul {
  list-style: none;
}

html,
body {
  height: 100%;
}

#app {
  width: 100%;
  transition: all 0.3s;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
  background: #fff;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(128, 128, 128, 0.38);
}
